// Place all the styles related to the timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logout_wrapper {
    text-align: right;
}

.timeline_wrapper {
    &.wrapper {
        width: 700px;
    }
    .actions {
        div {
            &.alert {
                float: left;
            }
            &.post {
                float: right;
            }
        }
    }
    
    .timeline {
        .per {
            border-radius: 5px;
            padding: 10px;
            margin-top: 20px;
            
            background-color: #DADADA;
            &.mine {
                background-color: #C1EFFF;
            }
            
            &.reply {
                margin-top: 0px;
            }
            
            p {
                margin: 0;
            }
            
            .icon {
                display:inline-block;
                width: 70px;
                vertical-align: top;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            
            .message {
                display: inline-block;
                margin-left: 10px;
                width: 500px;
                vertical-align: top;
                word-wrap: break-word;
            }
        }
    }
    .user_filter {
        margin-bottom: 20px;
        .actions {
            text-align: right;
        }
    }
}